{
  "branches": ["master"],
  "release": {
    "preset": "conventionalcommits"
  },
  "plugins": [
    '@semantic-release/commit-analyzer',
    '@semantic-release/release-notes-generator',
    ["@semantic-release/exec", {
      "prepareCmd": "release/internal_pypi.sh ${nextRelease.version}",
    }],
   ["@semantic-release/git", {
      "assets": ["setup.py"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    '@semantic-release/github',
  ]
}
