<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Notify Previous Email Address</title>
</head>
<body>
<p>
    <span style="font-weight: bold; font-size:300%; color:#37483e">OPT</span>
    <span style="font-weight: bold; font-size:300%; color: #f3b531">i</span>
    <span style="font-weight: bold; font-size:300%; color:#37483e">BAR</span>
</p>
<p>
A request has been made to change the email address on your account.<br>
The email address will be changed, if confirmed.
</p>
</body>
</html>
