# Email settings

DEFAULT_EMAIL_FROM = ''
DEFAULT_EMAIL_BCC = ''

EMAIL_HOST = ''
EMAIL_PORT = 0
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = True
EMAIL_USE_SSL = False
SERVER_EMAIL = ''

