<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
<meta charset="UTF-8">
</head>
<body>
<h1>Home for {{ first_name }} {{ last_name }} ({{ email}})</h1>
<form method="get" action="{% url 'logout_page' %}">
{% csrf_token %}
<p>
<font style="font-size:24px">
<a href="{% url 'email_change_page' %}">Change Email</a><br><br>
<a href="{% url 'password_change_page' %}">Change Password</a><br><br>
<a href="{% url 'users_me_change_page' %}">Change Me</a><br><br>
<button type="submit" value="Logout">Logout<br>
</font>
</p>
</form>
</body>
</html>
