<!DOCTYPE html>
<html>
<head>
<title>Password Reset</title>
<meta charset="UTF-8">
</head>
<body>
<h1>Password Reset</h1>
<form method="post" action="{% url 'password_reset_page' %}">
{% csrf_token %}
{% if form.non_field_errors %}
    Non-Field Errors:<br>
    {{ form.non_field_errors }}
{% endif %}
{% if form.errors %}
    Field Errors:<br>
    <font color="red">{{ form.errors }}</font>
{% endif %}
<p>
<font style="font-size:24px;">
Enter the email address associated with your account.<br>
Email address: <input type="text" name="email" size="40" style="font-size:24px;"><br><br>
<button type="submit" value="Submit" style="font-size:24px;">Submit</button>
</font>
</p>
</form>
</body>
</html>
