<!DOCTYPE html>
<html>
<head>
<title>Password Change</title>
<meta charset="UTF-8">
</head>
<body>
<h1>Password Change</h1>
<form method="post" action="{% url 'password_change_page' %}">
{% csrf_token %}
{% if form.non_field_errors %}
    Non-Field Errors:<br>
    {{ form.non_field_errors }}
{% endif %}
{% if form.errors %}
    Field Errors:<br>
    <font color="red">{{ form.errors }}</font>
{% endif %}
<p>
<font style="font-size:24px;">
New Password: <input type="text" name="password" style="font-size:24px;"><br>
New Password (again): <input type="text" name="password2" style="font-size:24px;"><br>
<br>
<button type="submit" value="Submit" style="font-size:24px;">Submit</button>
</font>
</p>
</form>
</body>
</html>
